---
import { Icon } from 'astro-icon/components';
import type { Brands as Props } from '~/types';

import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
const {
  title = '',
  subtitle = '',
  tagline = '',
  icons = [],
  images = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
const maxHeightClass =
  (classes?.imageMaxHeight as string) || '!max-h-[100px] sm:!max-h-[120px] md:!max-h-[140px] lg:!max-h-[150px]';
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="grid grid-cols-2 md:flex md:flex-row md:flex-wrap justify-center items-center gap-x-8 gap-y-6">
    {icons &&
      icons.map((icon) => (
        <Icon name={icon} class="h-10 w-10 md:h-12 md:w-12 text-gray-500" />
      ))}

    {images &&
      images.map(
        (image) =>
          image.src && (
            <div class="flex items-center justify-center">
              {image.href ? (
                <a href={image.href} target="_blank" rel="noopener noreferrer" class="inline-flex">
                  <Image
                    src={image.src}
                    alt={image.alt || ''}
                    width={200}
                    height={200}
                    layout="contained"
                    class:list={[maxHeightClass, 'h-auto w-auto object-contain']}
                  />
                </a>
              ) : (
                <Image
                  src={image.src}
                  alt={image.alt || ''}
                  width={200}
                  height={200}
                  layout="contained"
                  class:list={[maxHeightClass, 'h-auto w-auto object-contain']}
                />
              )}
            </div>
          )
      )}
  </div>
</WidgetWrapper>
